package main

/*
Heres the config, put your stuff in the quotations and everyone will be happy, OK?
Make a copy of this into config.go and check differences in every commit
*/

const (
	urlPrefix           = "/"                                                       //Must be atleast a "/" AND end with a "/"
	defaultImg          = "/home/gido5731/work/imgsrvr/testingpics/Graphic1-50.jpg" // not actually in use right now dont bother with this
	imgHash             = 6
	imgStore            = "/var/tmp/imgStorage/"
	baseURL             = "http://localhost" //MUST INCLUDE HTTP/HTTPS
	recaptchaPrivKey    = "google captcha priv key"
	recaptchaPubKey     = "google captcha pub key"
	loggingLevel        = 2 // 0 is panics only, 1 is errors, 2 is info, 3 is debug, 4 is trace
	coinhiveCaptchaPub  = ""
	coinhiveCaptchaPriv = ""
)
