@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    background-color: #101010;
    font-family: 'Ubuntu', "Comic Sans MS", sans-serif;
}

a {
    text-decoration: none;
}

#container {
    background-color: #243447;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Ubuntu', "Comic Sans MS", sans-serif;
}

a {
    color: lightgrey;
    text-decoration: none;
}

#footer a:link, #footer a:visited {
    background-color: black;
    padding: 14px 25px;
    display: inline-block;
}

#footer a:hover {
    background-color: aquamarine;
    color: black;
}

#footer a:active {
    background-color: magenta;
}

#header {
    background-color: #141d26;
    color: lightgray;
    text-align: center;
    padding: 10px
    padding-top;
}
#footer {
    background-color: #141d26;
    padding: 28px 50px;
}

#form {
    width: 780px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
    color: lightslategrey;
}

form input[type=password] input[type=text] {
    background-color: lightgrey;
    color: lightslategrey;
    padding: 5px;
    width: 30%;
}

form #upload {
    /*background-color: lightslategray;*/
    color: lightslategrey;
    padding: 5px;
    width: 30%
}

#captcha, .g-recaptcha, coinhive-captcha, .grecaptcha-logo, .grecaptcha-badge {
    text-align: center;
    display: inline-block;
}

#myProgress {
    width: 100%;
    background-color: grey;
}
#myBar {
    width: 1%;
    height: 30px;
    background-color: green;
}

#submit button:default {
    background-color: black;
    border: none;
    color: lightgrey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}

#submit button:hover {
    background-color: aquamarine;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}

#submit button:active{
    background-color: magenta;
}
