body {
    background-color: darkslategray;
    font-family: 'Ubuntu', "Comic Sans MS", sans-serif;
}

a {
    text-decoration: none;
}

#footer {
    background-color: #FF8300;
    padding: 28px 50px;
}

#footer a:link, #footer a:visited {
    text-decoration: none;
    background-color: black;
    color: lightgrey;
    padding: 14px 25px;
    display: inline-block;
}

#footer a:hover {
    background-color: aquamarine;
    color: black;
}

#footer a:active {
    background-color: magenta;
}

#header {
    background-color: #008080;
    color: lightgray;
    text-align: center;
    padding: 10px
}

#container {
    background-color: #EEE;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Ubuntu', "Comic Sans MS", sans-serif;
}
